{% extends 'base.html' %}
{% block content %}

<h1>Event Cache</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ event.title }}</span>
        <p>Description: {{ event.description }}</p>
        <p>Start Time: {{ event.start_time }}</p>
      </div>
      {{total_likes}} Like{{total_likes|pluralize}}
      {% if request.user.is_authenticated %}
      <form action="{% url 'like_event' %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
          <button type="submit" name="event_id" value="{{event.id}}" class="btn">Dislike</button>
        {% else %}
          <button type="submit" name="event_id" value="{{event.id}}" class="btn">Like</button>
        {% endif %}

      </form>

      <div class="card-action">
        <a href="{% url 'update_event' event.id %}">Edit Event</a>
        <a href="{% url 'delete_event' event.id %}">Delete Event</a>
      </div>
      {% endif %}

    </div>


    <div class="card">
            <!-- comments -->
            <h3>{{ comment.count }} comments for {{event.title}} :</h3>
            <h2>
              {{comment.body}}
            </h2>

            {% for comment in comment %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>


        </div>
        <div class = "card">
          <a href="{% url 'new_comment' event.id%}">Add a Comment</a>
          </div>

</div>

{% endblock %}
