{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>All Events:</h1>

{% for event in event %}
<div class="row">
    <div class="col s4 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img class= "responsive-image" src="{{event.photo.url}}"/>
          <span class="card-title">{{ event.title }}</span>
        </div>
        <div class="card-content">
          <p>Starting on: {{ event.start_date }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'detail' event.id %}"> Event Details
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<a href="{% url 'new_event' %}" onclick="M.toast({html: 'Redirecting: Create an event'})" class="btn-floating btn-large waves-effect waves-light right red"><i class="material-icons">create</i></a>


{% endblock %}
