{{total_likes}} Like{{total_likes|pluralize}}
{% if request.user.is_authenticated %}
<form action="{% url 'like_event' %}" method="post">
  {% csrf_token %}
  {% if is_liked %}
    <a id="like" type="submit" name="event_id" value="{{event.id}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
  {% else %}
  <a id="like" type="submit" name="event_id" value="{{event.id}}" class="btn-floating halfway-fab waves-effect waves-light grey pulse" ><i class="material-icons">favorite_border</i></a>
  {% endif %}
</form>
{% endif %}
