{% extends 'base.html' %}
{% block content %}
<blockquote>
  Dekigoto was designed as a website to help facilitate intercommunal networking. This service takes a simple approach in working to help foster connections and develop the community that we are so proud to be a part of.
</blockquote>

<<blockquote>
  <p>
    With a clean and minimalistic look, and a easy to use interface, users can make the most of Dekigoto. Users can like an event, add a comment to an event and view other comments on the same page, and even create their own events! With this kind of accessibility, who wants the complexity of google calendar?
    </p>
</blockquote>

{% endblock %}
