{% extends 'base.html' %}
{% block content %}

<h4>About Dekigoto:</h4>
<br>
<h6>What is Dekigoto?</h6>
<blockquote>
  Dekigoto was designed as a website to help facilitate intercommunal networking. This service takes a simple approach in working to help foster connections and develop the community that we are so proud to be a part of.
</blockquote>

<h6>How can a user use Dekigoto?</h6>
<blockquote>
  <p>
    With a clean and minimalistic look, and a easy to use interface, users can make the most of Dekigoto. Users can like an event, add a comment to an event and view other comments on the same page, and even create their own events! With this kind of accessibility, who wants the complexity of google calendar?
    </p>
</blockquote>

<h6>Who invented Dekigoto?</h6>
<blockquote>
  <p>
  I did! Who am I? I'm Srirang, the creator of this app! (Well, that's kinda redundant, but whatever!) Feel free to reach out to me at srisrideveloper@gmahoo@com! I'm listening to your comments! Together, we can make this app a better place for everyone!
    </p>
</blockquote>

{% endblock %}
