{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Study Sesh</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
  <header class="navbar-fixed">
    <nav class=black>
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="center brand-logo">&nbsp;&nbsp;Scheduler</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'index' %}">Index</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'new_event' %}">Create an Event</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    </header>

    <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
    <nav class = black>
      <div class="center">All Rights Reserved, &copy; Sri</div>
    </nav>
  </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(event){
      $(document).on('click', '#like', function(event){
        event.preventDefault();
        let pk = $(this).attr('value');
        $.ajax({
          type: 'POST',
          url: '{% url "like_event" %}',
          data: {'id': pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
          dataType: 'json',
          success: function(response){
            console.log($('#like-section').html(response['form']));
          },
          error: function(rs,e){
            console.log(rs.responseText);
          }
        })
      });
    });
    </script>
</body>
</html>
