body {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
.navbar-fixed {
  background-color: black
}

/* Animations: */

#index-banner h1 {
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}
#index-banner h5 {
  animation: fadein 2s;
  animation-delay: 1.75s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 1.75s; /* Firefox */
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 1.75s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#favorite-first {
  animation: fadein 2s;
  animation-delay: 4s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 4s; /* Firefox */
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 4s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#group-second {
  animation: fadein 2s;
  animation-delay: 6s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 6s; /* Firefox */
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 6s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#problem-third {
  animation: fadein 2s;
  animation-delay: 8s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 8s; /* Firefox */
    -webkit-animation: fadein 2s;
    -webkit-animation-delay: 8s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#generate-cards {
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}
#single-card {
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}






/* Animations: about page */
#first h6 {
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#first blockquote {
  animation: fadein 2s;
  animation-delay: 3s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 3s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -webkit-animation-delay: 3s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#second h6 {
  animation: fadein 2s;
  animation-delay: 8s;
    -moz-animation: fadein 2s; /* Firefox */
      -moz-animation-delay: 8s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -webkit-animation-delay: 8s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#second blockquote {
  animation: fadein 2s;
  animation-delay: 10s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 10s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -webkit-animation-delay: 10s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#third h6 {
  animation: fadein 2s;
  animation-delay: 20s;
    -moz-animation: fadein 2s; /* Firefox */
      -moz-animation-delay: 20s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -webkit-animation-delay: 20s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#third blockquote {
  animation: fadein 2s;
  animation-delay: 25s;
    -moz-animation: fadein 2s; /* Firefox */
    -moz-animation-delay: 25s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -webkit-animation-delay: 25s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}




@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
